[submodule "Laboratórios de Informática I: Report Project"]
  path = 1st/1/Laboratórios de Informática I/Project/report
  url = git@gitlab.com:mieiuminho/LI1/report.git
[submodule "Laboratórios de Informática I: Micro Machines"]
  path = 1st/1/Laboratórios de Informática I/Project/micro-machines
  url = git@gitlab.com:mieiuminho/LI1/micro-machines.git
[submodule "Laboratórios de Informática II: Report Project"]
  path = 1st/2/Laboratórios de Informática II/Project/report
  url = git@gitlab.com:mieiuminho/LI2/report.git
[submodule "Laboratórios de Informática II: Tic Tac Logic"]
  path = 1st/2/Laboratórios de Informática II/Project/tic-tac-logic
  url = git@gitlab.com:mieiuminho/LI2/tic-tac-logic.git
[submodule "Laboratórios de Informática II: Tic Tac Logic Puzzles"]
  path = 1st/2/Laboratórios de Informática II/Project/tic-tac-logic-puzzles
  url = git@gitlab.com:mieiuminho/LI2/tic-tac-logic-puzzles.git
[submodule "Laboratórios de Informática III: Report for C Project"]
  path = 2nd/2/Laboratórios de Informática III/Project/report-c
  url = git@gitlab.com:mieiuminho/LI3/report-c.git
[submodule "Laboratórios de Informática III: C Project"]
  path = 2nd/2/Laboratórios de Informática III/Project/sgv
  url = git@gitlab.com:mieiuminho/LI3/sgv.git
[submodule "Laboratórios de Informática III: Report for JAVA Project"]
  path = 2nd/2/Laboratórios de Informática III/Project/report-java
  url = git@gitlab.com:mieiuminho/LI3/report-java.git
[submodule "Laboratórios de Informática III: JAVA Project"]
  path = 2nd/2/Laboratórios de Informática III/Project/sjv
  url = git@gitlab.com:mieiuminho/LI3/sjv.git
[submodule "Programação Orientada aos Objetos: Report Project"]
  path = 2nd/2/Programação Orientada aos Objetos/Project/report
  url = git@gitlab.com:mieiuminho/poo/report.git
[submodule "Programação Orientada aos Objetos: A Car in Every Corner"]
  path = 2nd/2/Programação Orientada aos Objetos/Project/acec
  url = git@gitlab.com:mieiuminho/poo/acec.git
[submodule "Cálculo de Programas: Project"]
  path = 2nd/2/Cálculo de Programas/Project/code
  url = git@gitlab.com:mieiuminho/cp/pcp.git
[submodule "Sistemas Operativos: Report Project"]
  path = 2nd/2/Sistemas Operativos/Project/report
  url = git@gitlab.com:mieiuminho/so/report.git
[submodule "Sistemas Operativos: Gestão de Inventário e Vendas"]
  path = 2nd/2/Sistemas Operativos/Project/giv
  url = git@gitlab.com:mieiuminho/so/giv.git
[submodule "Bases de Dados: Modelos Relacionais"]
  path = 3rd/1/Bases de Dados/Project/models
  url = git@gitlab.com:mieiuminho/bd/cct.models.git
[submodule "Bases de Dados: Migrações NoSQL"]
  path = 3rd/1/Bases de Dados/Project/migrations
  url = git@gitlab.com:mieiuminho/bd/cct.migrations.git
[submodule "Bases de Dados: Relatório"]
  path = 3rd/1/Bases de Dados/Project/report
  url = git@gitlab.com:mieiuminho/bd/cct.report.git
[submodule "Bases de Dados: Apresentação"]
  path = 3rd/1/Bases de Dados/Project/presentation
  url = git@gitlab.com:mieiuminho/bd/apresentacao.git
[submodule "Desenvolvimento de Sistemas de Software: Share Your Media"]
  path = 3rd/1/Desenvolvimento de Sistemas de Software/Project/report
  url = git@gitlab.com:mieiuminho/dss/sym.git
[submodule "Desenvolvimento de Sistemas de Software: Report"]
  path = 3rd/1/Desenvolvimento de Sistemas de Software/Project/report
  url = git@gitlab.com:mieiuminho/dss/sym.report.git
[submodule "Sistemas Distribuídos: FileShare"]
  path = 3rd/1/Sistemas Distribuídos/Project/fileshare
  url = git@gitlab.com:mieiuminho/sd/fileshare.git
[submodule "Sistemas Distribuídos: Relatório"]
  path = 3rd/1/Sistemas Distribuídos/Project/report
  url = git@gitlab.com:mieiuminho/sd/fileshare.report.git
