/* 
  base 
  rgb(128, 186, 39)

  dark
  rgb(107, 156, 47)
*/

@import 'base.css';

.book .book-summary {
  background-color: rgb(128, 186, 39);
  box-shadow: inset -4px 0 0 rgb(107, 156, 47);
}

.book .book-summary ul.summary {
  background-color: rgb(128, 186, 39);
  background-image: url(logo-cms-white.png);
  box-shadow: inset -4px 0 0 rgb(107, 156, 47);
}

.book .book-summary ul.summary li a:hover,
.book .book-summary ul.summary li.active a {
  background-color: rgb(107, 156, 47);
}
